/* @settings

name: Doctorfree Theme
id: doctorfree-theme
settings:
    -
        id: doctorfree-typography
        title: Colors
        type: heading
        level: 3
    -
        id: text-bold-color
        title: Bold Color
        type: variable-color
        format: hex
        default: '#50fa7b'
    -
        id: text-italic-color
        title: Italic Color
        type: variable-color
        format: hex
        default: '#ffeb95'
    -
        id: text-italic-bold-color
        title: Italic Bold Color
        type: variable-color
        format: hex
        default: '#b380fb'
*/
