/*-------------------------------------*/
/*      Search the following lines     */
/*     to jump to specific section     */
/*-------------------------------------*/
/*       CUSTOMIZED TAG COLOURS        */
/*           GENERAL STYLES            */
/*       NAVIGATION / SIDE-DOCK        */
/*           SETTINGS STYLES           */
/*     resize-handle and borders       */
/*                tags                 */
/*                link                 */
/*               Cursor                */
/* basic format in EDITOR and PREVIEW  */
/* Headings - EDITOR and PREVIEW       */
/*         Code block in  Preview      */
/*       Code block in Editor          */
/*              Brackets               */
/*             Blockquote              */
/*               table                 */
/*              Checkbox               */
/*           html in editor            */
/*              popover                */
/*            Side panel               */
/* internal embedded link in preview   */
/*            graph view               */
/*             settings                */
/*           Hide side bar             */
/*         width of content            */
/*  note header bar for non-andy mode  */
/*    at a rule line before ul list    */
/*  Hide Scrollbar (recommend for mac) */
/*-------------------------------------*/

/**************************/
/* CUSTOMIZED TAG COLOURS */
/**************************/

/* For preview mode */
a.tag[href*='#todo'],
a.tag[href*='#待完成'] {
  background-color: #be2e5e;
  color: #fff;
}
/* For Editor Mode */
.cm-s-obsidian .CodeMirror-line span.cm-tag-todo:not(.cm-formatting-hashtag) {
  color: #ee6a96;
}

a.tag[href*='#working-draft'],
a.tag[href*='#进行中'] {
  background-color: #4d3ca6;
  color: #fff;
}

.cm-s-obsidian .CodeMirror-line span.cm-tag-working-draft:not(.cm-formatting-hashtag) {
  color: #a897ff;
}

a.tag[href*='#notes'],
a.tag[href*='#笔记'] {
  background-color: #17b978;
  color: #fff;
}

.cm-s-obsidian .CodeMirror-line span.cm-tag-notes:not(.cm-formatting-hashtag) {
  color: #45e0a2;
}

a.tag[href*='#knowledge'],
a.tag[href*='#知识'] {
  background-color: #005792;
  color: #fff;
}

.cm-s-obsidian .CodeMirror-line span.cm-tag-knowledge:not(.cm-formatting-hashtag) {
  color: #6cbdf3;
}

a.tag[href*='#writing'],
a.tag[href*='#文章'] {
  background-color: #f95959;
  color: #fff;
}

.cm-s-obsidian .CodeMirror-line span.cm-tag-writing:not(.cm-formatting-hashtag) {
  color: #ff7a7a;
}

a.tag[href*='#ideas'],
a.tag[href*='#想法'] {
  background-color: #ffc93c;
  color: #000;
}

.cm-s-obsidian .CodeMirror-line span.cm-tag-ideas:not(.cm-formatting-hashtag) {
  color: #ffdc82;
}

/**************************************/
/* GENERAL STYLES                     */
/**************************************/
body {
  font-weight: var(--body-font-weight, normal);
  font-size: var(--font-size-normal);
}

body [role='presentation'] pre,
body [role='presentation'] div,
body .markdown-preview-section div {
  font-weight: var(--body-font-weight, normal);
  font-size: var(--font-size-normal) !important;
}

::-webkit-scrollbar {
  opacity: 1;
  width: 0.6rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--background-modifier-border);
  border-radius: 999px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background: var(--background-secondary);
}

.markdown-preview-view .internal-link.is-unresolved {
  opacity: 0.7;
}

.theme-dark .notice {
  background-color: var(--background-primary-alt);
  color: var(--text-accent);
}

/** NAVIGATION / SIDE-DOCK **/

.nav-folder-collapse-indicator {
  color: var(--text-accent);
}
.nav-file.is-active > .nav-file-title,
.nav-file.is-active > .nav-folder-title,
.nav-file.is-active > .nav-folder-collapse-indicator,
.nav-folder.is-active > .nav-file-title,
.nav-folder.is-active > .nav-folder-title,
.nav-folder.is-active > .nav-folder-collapse-indicator {
  color: var(--text-accent);
}

/** Side-dock icons **/
.side-dock-ribbon-tab,
.side-dock-ribbon-action,
.workspace-ribbon-collapse-btn,
.workspace-tab-header {
  transition: all 350ms ease-in-out;
  opacity: 0.5;
  cursor: pointer;
}
.side-dock-ribbon-tab:hover,
.side-dock-ribbon-action:hover,
.workspace-ribbon-collapse-btn:hover,
.workspace-tab-header:hover {
  opacity: 1;
  color: var(--text-accent);
}

/** Left side menu -- collapsed **/
.workspace-ribbon.is-collapsed {
  background-color: var(--background-primary-alt);
}
/** Left side menu border **/
.workspace-ribbon.mod-left.is-collapsed,
.workspace-ribbon.mod-right.is-collapsed {
  border-color: var(--editor-border-color);
}

/** Navigation tabs **/
.workspace-tab-header.is-active {
  opacity: 1;
  color: var(--text-accent);
}

/** File and Folder Lists **/
body:not(.is-grabbing) .nav-file-title:hover,
body:not(.is-grabbing) .nav-folder-title:hover {
  border: 1px solid var(--interactive-accent-hover);
  color: var(--text-accent);
}
/** File and Folder list active arrow **/
body:not(.is-grabbing) .nav-file-title:hover .nav-folder-collapse-indicator,
body:not(.is-grabbing) .nav-folder-title:hover .nav-folder-collapse-indicator {
  color: var(--text-accent);
}
/** Folder List main title **/
.nav-folder.mod-root > .nav-file-title,
.nav-folder.mod-root > .nav-folder-title {
  color: var(--text-accent);
}

/** View Header title **/
.workspace-leaf.mod-active .view-header-title {
  color: var(--text-accent);
}

/** Little tag styles (at links) **/
.pane-list-item:hover .pane-list-item-ending-flair {
  background-color: var(--background-secondary);
  color: var(--text-accent);
}

/** SETTINGS STYLES **/
.checkbox-container.is-enabled {
  background-color: rgba(14, 210, 247, 0.7);
}

.workspace-drop-overlay {
  background-color: var(--background-primary-alt);
}

/* except list markers */
span.cm-formatting-list,
/*code block backticks */ span.cm-formatting-code-block.cm-hmd-codeblock,
/* optionally header hashes */ span.cm-formatting-header {
  display: inline !important;
}

/***************************************/
/*  resize-handle and borders          */
/***************************************/
/*vertical resize-handle*/
.workspace-split.mod-vertical > * > .workspace-leaf-resize-handle,
.workspace-split.mod-left-split > .workspace-leaf-resize-handle,
.workspace-split.mod-right-split > .workspace-leaf-resize-handle {
  width: 1px !important;
  background-color: var(--border-color);
}
/*horizontal resize-handle*/
.workspace-split.mod-horizontal > * > .workspace-leaf-resize-handle {
  height: 1px !important;
  background-color: var(--border-color);
}
/*the vertical split*/
.workspace-split.mod-root .workspace-split.mod-vertical .workspace-leaf-content,
.workspace-split.mod-vertical > .workspace-split,
.workspace-split.mod-vertical > .workspace-leaf,
.workspace-tabs {
  padding-right: 0px;
}
/*status-bar*/
.status-bar {
  font-size: var(--font-size-status-bar);
  background-color: var(--background-secondary-alt);
  border-top: 0px;
  border-color: #101014;
  color: var(--text-faint);
  position: absolute;
  margin: auto;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  border-top-left-radius: 8px;
  padding: 8px 6px 6px 10px;
  max-height: unset;
  opacity: 0.4;
  transition: 0.5s;
}

.status-bar:hover {
  opacity: 1;
  transition: 0.2s;
}

.document-search-container {
  border-top: 0px;
  border-right: 0px;
  z-index: inherit;
}
/*************************************/
/*                tags               */
/*************************************/
/* Tag hover in preview */
a.tag:hover {
  color: var(--text-accent) !important;
}
/* Tag Color in editor and preview*/
.cm-hashtag,
a.tag {
  color: var(--text-accent-hover) !important;
  text-decoration: none !important;
  font-style: normal !important;
}
/*********************************/
/*             link              */
/*********************************/
/* link */
a,
.internal-link,
.cm-hmd-internal-link,
.cm-link,
.cm-formatting-link,
.cm-url {
  text-decoration: none !important;
}
/* the url string in editor */
.cm-s-obsidian span.cm-string {
  color: var(--text-accent-hover) !important;
}
/* make external links italics to differentiate */
a:not(.internal-link) {
  font-style: italic;
}
/*footnote*/
.cm-s-obsidian span.cm-footref {
  color: var(--text-accent) !important;
}
/***************************************/
/*                Cursor               */
/***************************************/
/* Cursor color and opacity */
.cm-fat-cursor .CodeMirror-cursor,
.cm-animate-fat-cursor {
  width: 0.5em;
  background: var(--vim-cursor);
  opacity: 60% !important;
}
/**************************************/
/* basic format in EDITOR and PREVIEW */
/**************************************/
/* font for everything outside of editor/preview panes */
.app-container {
  font-family: var(--font-family-preview);
}
/* set the text selection color for preview mode */
::selection {
  background-color: var(--text-selection);
}
/* normal text outside of headings and code of editor */
.cm-s-obsidian,
.mod-single-child .cm-s-obsidian {
  font-family: var(--font-family-editor);
  font-size: var(--font-size-normal);
}
/* bold in preview and editor */
.cm-strong,
strong {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0;
  font-weight: 600;
  color: #7aa2f7;
  background-color: #7aa2f7;
  background-image: linear-gradient(62deg, #87c2fd 0%, #dcb9fc 100%) !important;
}
/* emphasis in preview and editor */
em,
.cm-em {
  color: var(--text-italic-color);
  font-style: italic;
}
.cm-em.cm-strong {
  color: var(--text-italic-bold-color);
}
/* strikethrough in preview and editor */
s,
.cm-strikethrough {
  color: var(--text-muted);
}
/* list in editor */
.cm-s-obsidian span.cm-formatting-list {
  color: var(--text-normal) !important;
}

/** hr styles -- PREVIEW MODE */
.cm-line hr,
.markdown-preview-view hr {
  background-color: var(--text-faint) !important;
  margin-block-start: 4em;
  margin-block-end: 4em;
  border: none;
  height: 0;
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(to right, transparent, var(--text-accent), transparent);
}

.cm-line hr::after,
.markdown-preview-view hr::after {
  content: '§';
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%) rotate(60deg);
  transform-origin: 50% 50%;
  padding: 0.5rem;
  color: var(--text-sub-accent);
  background-color: var(--background-primary);
}
/* embedded images */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* img hover zoom out img*/
img:hover {
  transform: scale(1.04);
  transition: transform 0.25s ease-in-out 0s;
}
.community-theme img:hover {
  transform: none;
}
/***************************************/
/*         Code block in  Preview      */
/***************************************/
/* code blocks in preview */
pre code {
  font-family: monaco !important;
  font-size: var(--font-size-code) !important;
  padding: 6px !important;
  line-height: normal;
  display: block;
  color: var(--code-block) !important;
}
/* padding of code blocks in preview */
.markdown-preview-view pre {
  padding: 0px !important;
}
/* font-size of in-line block for preview */
.markdown-preview-view code {
  font-size: var(--font-size-code);
}
/* remove the shadow that typically affect light mode */
.theme-dark code[class*=language-],
.theme-dark pre[class*=language-],
.theme-light code[class*=language-],
.theme-light pre[class*=language-] {
  text-shadow: none !important;
  color: var(--text-faint) !important;
  background-color: var(--pre-code);
}

/***************************************/
/*      Language (Dark mode only)      */
/***************************************/
pre[class*='language-']:before {
  font-family: Rubik, Lato, Lucida Grande, Lucida Sans Unicode, Tahoma, Sans-Serif;
  font-style: normal;
  font-weight: 700;
  font-size: 0.6rem;
  color: #fff;
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  padding: 0;
  color: var(--text-accent) !important;
  content: '';
  text-transform: uppercase;
  background: rgba(16, 14, 23, 0.86);
  border-radius: 8px;
  padding: 0.1em 0.8em;
  z-index: 10;
}

pre[class$='markdown']:before,
pre[class$='md']:before {
  content: 'Markdown';
}

pre[class$='javascript']:before,
pre[class$='js']:before {
  content: 'JavaScript';
}

pre[class$='typescript']:before,
pre[class$='ts']:before {
  content: 'typescript';
}

pre[class$='text']:before {
  content: 'text';
}

pre[class$='html']:before {
  content: 'html';
}

pre[class$='css']:before {
  content: 'css';
}

pre[class$='ejs']:before {
  content: 'ejs';
}

pre[class$='vue']:before {
  content: 'vue';
}

pre[class$='react']:before {
  content: 'react';
}

pre[class$='shell']:before {
  content: 'Shell';
}

pre[class$='json']:before {
  content: 'Json';
}

pre[class$='python']:before {
  content: 'python';
}

.theme-dark :not(pre) > code[class*='language-'],
.theme-dark pre[class*='language-'] {
  background-color: var(--background-secondary);
}

code[class*='language-'],
pre[class*='language-'] {
  color: #ccc;
  background: rgb(40, 41, 54);
  text-shadow: none;
  font-family: 'OperatorMonoSSmLig-Book', PT Mono, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono',
    monospace !important;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
  text-shadow: none;
  background-color: #5a5f80;
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
  text-shadow: none;
  background-color: #5a5f80;
}

@media print {
  code[class*='language-'],
  pre[class*='language-'] {
    text-shadow: none;
  }
}

/* Code blocks */
:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: rgba(40, 41, 54, 1);
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 4px 7px;
  border-radius: 0.3em;
  white-space: normal;
}

.language-cpp .theme-dark .token.string {
  color: #8be9fd;
}

.language-c .theme-dark .token.string {
  color: #8be9fd;
}

.theme-dark .language-css .token.selector {
  color: rgba(80, 250, 123, 1);
}

.theme-dark .language-css .token.property {
  color: rgba(255, 184, 108, 1);
}

.language-java span.theme-dark .token.class-name {
  color: #8be9fd;
}

.language-java .theme-dark .token.class-name {
  color: #8be9fd;
}

.language-markup .theme-dark .token.attr-value {
  color: rgba(102, 217, 239, 1);
}

.language-markup .theme-dark .token.tag {
  color: rgba(80, 250, 123, 1);
}

.language-objectivec .theme-dark .token.property {
  color: #66d9ef;
}

.language-objectivec .theme-dark .token.string {
  color: #50fa7b;
}

.language-php .theme-dark .token.boolean {
  color: #8be9fd;
}

.language-php .theme-dark .token.function {
  color: #ff79c6;
}

.language-php .theme-dark .token.keyword {
  color: #66d9ef;
}

.language-ruby .theme-dark .token.symbol {
  color: #8be9fd;
}

.language-ruby .theme-dark .token.class-name {
  color: #cfcfc2;
}

/***************************************/
/*              Brackets               */
/***************************************/
.cm-s-obsidian span.cm-formatting-link {
  color: var(--text-accent) !important;
}
/***************************************/
/*             Blockquote              */
/***************************************/
/* for editor */
.cm-quote {
  color: var(--text-normal) !important;
  font-style: italic;
}

/* blockquote style overwrite */
.markdown-preview-view blockquote {
  position: relative;
  padding: 1rem 2rem 1rem 3rem;
  color: #bdbdbd;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 2em;
  margin-right: 0 !important;
  border-left: 3px rgba(14, 210, 247, 0.5) solid;
  border-top: transparent;
  border-bottom: transparent;
  border-right: transparent;
  background: linear-gradient(135deg, rgba(32, 28, 41, 0.45), #100e17);
  font-style: italic;
}

.markdown-preview-view blockquote::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0px;
  height: 2px;
  width: 60%;
  background: linear-gradient(90deg, rgba(13, 185, 215, 0.5), #13111a);
}
.markdown-preview-view blockquote::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0px;
  height: 2px;
  width: 25%;
  background: linear-gradient(90deg, rgba(13, 185, 215, 0.5), #15131c);
}
/***************************************/
/*             table                   */
/***************************************/
th {
  font-weight: 800 !important;
}
.markdown-preview-view th {
  font-weight: 800;
  background-color: var(--background-secondary) !important;
}
thead {
  border-bottom: 3px solid var(--background-modifier-border);
}
.table {
  padding: 4px;
  line-height: normal;
  display: block;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
/***************************************/
/*              popover                */
/***************************************/
.popover {
  border: 1px solid var(--border-color);
  background-color: var(--background-secondary);
}
/***************************************/
/*            Side panel               */
/***************************************/
/* search result in backlink or file search */
.search-result-file-title {
  font-size: 18px;
}
.search-result-file-matches,
.search-empty-state {
  font-size: var(--font-size-side-dock);
}
/*decrease the spacing between result items*/
.search-result-file-title,
.search-result-file-match {
  padding: 0px 10px;
}
/*backlink pane*/
.workspace-leaf-content[data-type=backlink] .view-content {
  background-color: var(--background-secondary);
}
.workspace-leaf-content[data-type=tag] .tag-pane-tag-count,
.workspace-leaf-content[data-type=tag] .tag-pane-tag-text {
  font-size: var(--font-size-side-dock);
}
.workspace-leaf-content[data-type=backlink] .search-result-file-matches {
  font-size: var(--font-size-side-dock);
}
/***************************************/
/* internal embedded link in preview   */
/***************************************/
/* Naked Embeds */
.markdown-embed-title {
  display: none;
}
.markdown-preview-view .markdown-embed-content > :first-child {
  margin-top: 0;
}
.markdown-preview-view .markdown-embed-content > :last-child {
  margin-bottom: 0;
}
/*remove the following two line, you will get border and scroll*/
.markdown-preview-view .markdown-embed {
  border: none;
  padding: 0;
  margin: 0;
}
.markdown-preview-view .markdown-embed-content {
  max-height: unset;
  background-color: var(--background-secondary);
}
/* the link on the top right corner*/
.markdown-embed-link {
  color: var(--text-faint) !important;
}
.markdown-embed-link:hover {
  color: var(--text-accent) !important;
}
/***************************************/
/*             graph view              */
/***************************************/
.graph-view.color-circle,
.graph-view.color-fill-highlight,
.graph-view.color-line-highlight {
  color: var(--text-accent) !important;
}
.graph-view.color-text {
  color: #00ffff;
}
.graph-view.color-line {
  color: #6272a4;
}
.graph-view.color-fill {
  color: var(--text-muted);
}
.workspace-leaf-content[data-type=graph] .view-content {
  background-color: var(--background-primary);
}
/***************************************/
/*            settings                 */
/***************************************/
.modal.mod-settings button:not(.mod-cta):hover {
  background-color: var(--interactive-accent-hover);
}
/***************************************/
/*            Hide side bar            */
/***************************************/
.workspace-ribbon:not(:hover) .workspace-ribbon-collapse-btn,
.workspace-ribbon:not(:hover) .side-dock-actions,
.workspace-ribbon:not(:hover) .side-dock-settings {
  display: none;
  transition: all 300ms ease-in-out;
}
.workspace-ribbon:not(:hover) {
  width: 0px;
  transition: all 300ms ease-in-out;
}
.workspace-split.mod-left-split {
  margin-left: 0px;
}
.workspace-split.mod-right-split {
  margin-right: 0px;
}
/***************************************/
/*           width of content          */
/***************************************/
.markdown-source-view.is-readable-line-width .CodeMirror {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.markdown-preview-view.is-readable-line-width .markdown-preview-section {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
/* Shift sticky position, so titles will stack up to the left */
/* This will currently stack to a maximum of 10 before resetting */
.theme-light .mod-root.workspace-split.mod-vertical > div:nth-child(10n-8) {
  left: calc(var(--sticky-left) * 0);
}
.theme-light .mod-root.workspace-split.mod-vertical > div:nth-child(10n-7) {
  left: calc(var(--sticky-left) * 1);
}
.theme-light .mod-root.workspace-split.mod-vertical > div:nth-child(10n-6) {
  left: calc(var(--sticky-left) * 2);
}
.theme-light .mod-root.workspace-split.mod-vertical > div:nth-child(10n-5) {
  left: calc(var(--sticky-left) * 3);
}
.theme-light .mod-root.workspace-split.mod-vertical > div:nth-child(10n-4) {
  left: calc(var(--sticky-left) * 4);
}
.theme-light .mod-root.workspace-split.mod-vertical > div:nth-child(10n-3) {
  left: calc(var(--sticky-left) * 5);
}
.theme-light .mod-root.workspace-split.mod-vertical > div:nth-child(10n-2) {
  left: calc(var(--sticky-left) * 6);
}
.theme-light .mod-root.workspace-split.mod-vertical > div:nth-child(10n-1) {
  left: calc(var(--sticky-left) * 7);
}
.theme-light .mod-root.workspace-split.mod-vertical > div:nth-child(10n+0) {
  left: calc(var(--sticky-left) * 8);
}
.theme-light .mod-root.workspace-split.mod-vertical > div:nth-child(10n+1) {
  left: calc(var(--sticky-left) * 9);
}
/* Now it's time for the fancy vertical titles */
/* First we'll add a bit of gap for the title to sit inside of */
.theme-light .workspace-leaf-content {
  padding-left: var(--sticky-left);
  position: relative;
}
/* This is where the magic happens */
.theme-light .view-header {
  writing-mode: vertical-lr;
  border-right: 1px solid var(--border-color);
  border-left: 0px !important;
  border-top: none;
  border-bottom: none;
  height: auto;
  width: 36px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: var(--background-primary) !important;
}
/* Fix the long-title-obscuring shadows */
.theme-light .view-header-title-container:after {
  width: 100%;
  height: 30px;
  top: unset;
  bottom: 0;
  background: linear-gradient(to bottom, transparent, var(--background-primary)) !important;
}
/* Unset the title container height and swap padding */
.theme-light .view-header-title-container {
  height: unset;
  padding-left: unset;
  padding-top: 5px;
}
/* Active titles have different border colours */
.theme-light .workspace-leaf.mod-active .view-header {
  background-color: var(--background-secondary-alt) !important;
  border-right: 3px solid var(--interactive-accent) !important;
  border-left: 0px;
  border-bottom: none;
}
/* Swap the padding/margin around for the header and actions icons */
.theme-light .view-header-icon,
.theme-light .view-actions {
  padding: 10px 5px;
}
.theme-light .view-action {
  margin: 8px 0;
}
/* Get rid of the gap left by the now-missing horizontal title */
.theme-light .view-content {
  height: 100%;
}
/* Make the fake drop target overlay have a background so you can see it. */
/* TODO: figure out how the fake target overlay works so we can put the title back, too */
.theme-light .workspace-fake-target-overlay {
  background-color: var(--background-primary);
}
/* Preview padding too small*/
.theme-light .markdown-preview-view,
.theme-light .mod-single-child .markdown-preview-view {
  font-family: var(--font-family-editor);
  font-size: var(--font-size-normal);
  padding-top: 5px;
  padding-left: 4% !important;
  padding-right: 2% !important;
}
/***************************************/
/*    at a rule line before ul list    */
/***************************************/
ul ul {
  position: relative;
}
ul ul::before {
  content: "";
  border-left: 1px solid var(--border-color);
  position: absolute;
  left: -1em;
  top: 0;
  bottom: 0;
}
/***************************************/
/*       Code block in Editor          */
/***************************************/
/* in-line block for editor */
.cm-s-obsidian span.cm-inline-code,
.cm-s-obsidian span.cm-inline-code.cm-hmd-indented-code,
.cm-s-obsidian span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code) {
  background-color: var(--pre-code-bg);
  color: var(--inline-code) !important;
  bottom: 0px !important;
}
/* in-line block for preview */
code {
  color: var(--inline-code) !important;
  bottom: 0px !important;
}
/* graph css  */
.theme-dark .graph-view.color-arrow {
  color: #50fa7b;
}
.theme-dark .graph-view.color-fill-tag {
  color: #ffb86c;
}
.theme-dark .graph-view.color-fill-attachment {
  color: #ff5555;
}
.theme-dark .graph-view.color-fill-unresolved {
  color: #6272a4;
}
.search-result-collapse-indicator {
  position: absolute;
  left: 0;
  top: -3px;
  color: var(--text-faint);
  transition: transform 100ms ease-in-out;
  padding: 0px !important;
}
