.nav-file-title,
.nav-folder-title {
  border: 1px solid transparent;
  border-radius: 3px;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  cursor: pointer;
  color: var(--text-muted);
  font-size: 1rem;
  line-height: 20px;
  padding: 1px 20px 0 26px;
  position: relative;
  white-space: nowrap;
  width: max-content;
  min-width: 100%;
}

.markdown-source-view.mod-cm6 .is-unresolved {
  opacity: 1;
}
.markdown-source-view.mod-cm6 .is-unresolved .cm-hmd-internal-link::after {
  content: "↩️";
  width: 30px;
  height: 30px;
  margin-left: 3px;
  font-size: 0.8rem;
  opacity: 0.5;
}
.statediagram-note rect {
  fill: var(--background-secondary-alt) !important;
  stroke: #fff !important;
}
